<div class="container text-center jumbotron">
  {{error-messages errors=errors success=success}}
  <form>
    <div class="form-group">
      <label>Username</Label><br>
      {{input id='username' value=userName placeholder="Username"}}
    </div>
    <div class="form-group">
      <label>Email</Label><br>
      {{input id='email' value=email placeholder="Email"}}
    </div>
    <div class="form-group">
      <label>Password</Label><br>
      {{input id='password' value=password placeholder="Password"}}
    </div>
    <div class="form-group">
      <label>Confirm Password</Label><br>
      {{input id='passwordConfirm' value=confirmPassword placeholder="Confirm Password"}}
    </div>
    <br>
    <button {{action "submit"}} id='submit' class="btn btn-large btn-primary">Submit!</button>
  </form>
  <div class="form-group">
    {{#link-to 'home'}}Forgot Password{{/link-to}}
    <br>
    {{#link-to 'home'}}Don't have an account{{/link-to}}
  </div>
</div>
