<div class="container text-center">
  {{#if errors}}
    <div id='errors' class="alert alert-danger" role="alert">{{errors}}</div>
  {{/if}}
  {{#if success}}
    <div id='success' class="alert alert-success" role="alert">{{success}}</div>
  {{/if}}
  <form>
    <row class="col-md-12">
      <label>Username</Label>
      {{input id='username' value=userName placeholder="Username"}}
    </row>
    <br>
    <row class="col-md-12">
      <label>Password</Label>
      {{input id='password' value=password placeholder="Password"}}
    </row>
    <br>
    <button {{action "submit"}} id='submit' class="btn btn-large btn-primary">Submit!</button>
  </form>
  Complete with this module?  Learn about <a href="/users">mirgage</a>
</div>

<hr>

<div class='helper-text text-center'>
  <li>Explain more about tests</li>
  <li>Explain page objects</li>
  <li>Explain controllers</li>
  <li>Run tests, they should be green!</li>
  <li>Write another test</li>
  <li>Explain components</li>
  <li>Write page with error component, tests should still pass!</li>
  <li>Explain component tests</li>
  <li>Uncomment test and rewrite the error component</li>
</div>